body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

label {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 15px;
}

.card {
  width: 320px;
  height: 200px;
  border-radius: 15px;
  background: #e6e6e6;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  position: absolute;
}

.card-front {
  display: grid;
  grid-template-rows: auto auto auto auto 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  position: relative;
}

.total {
  grid-column: 1 / 3;
  font-family: 'Courier New', Courier, monospace;
}

.card-image {
  width: 60px;
  position: absolute;
  top: 20px;
  right: 20px;
}

#card-number {
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-exp {
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.exp-fields {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

div.name-exp > label {
  margin-left: 10px;
}

.card-back {
 top: 40px;
 right: 0;
 z-index: -1;
 margin-top: 40%;
}

.card-back, .card-front {
  position: absolute;
  width: 390px;
  height: 250px;
  border-radius: 6px;
  padding: 20px 30px 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-weight: 300;
}

#card-stripe {
  width: 100%;
  height: 55px;
  background-color: #3d5266;
  position: absolute;
  right: 0;
}

#cvc-container {
  position: absolute;
  width: 110px;
  right: -115px;
  bottom: -10px;
  padding-left: 20px;
  box-sizing: border-box;
}

#cvc-container label {
  width: 100%;
}

#cvc-container p {
  font-size: 6px;
  text-transform: uppercase;
  opacity: 0.6;
  letter-spacing: .5px;
}
