@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: white;
}

nav, a:link {
    color: #AF1B3F;
    text-decoration: none;
}

h1 {
    font-family: 'Lora', Impact, sans-serif;
    color: #473144;
}

h2 {
    font-family: 'Lora', sans-serif;
    color: #AF1B3F;
}